/* Ensure the html and body elements take up the full viewport height */
html,
body {
  height: 100%;
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */
  overflow: hidden; /* Optional: hide scrollbars if any */
}

/* Make the #root div take up the full height and width */
#root {
  width: 100%;
  height: 100%;
}
